* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
  animation-name: h1;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

h2 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
  animation-name: h2;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

h3 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
}

h4 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
}

h5 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
}

h6 {
  font-size: 70px;
  font-weight: 700;
  font-family: serif;
  margin-top: 20%;
  text-align: center;
}

p {
  padding: 0 10px;
}

div {
  display: flex;
  justify-content: center;
}

@keyframes h1 {
  0% {
    color: violet;
  }
  50% {
    color: teal;
  }
  100% {
    color: rebeccapurple;
  }
}

@keyframes h2 {
  0% {
    color: antiquewhite;
  }
  50% {
    color: turquoise;
  }
  100% {
    color: yellow;
  }
}

@keyframes h3 {
  0% {
    color: wheat;
  }
  50% {
    color: thistle;
  }
  100% {
    color: tomato;
  }
}
